# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
OpenSeizureDetector/.sign/.manifest.tmp
OpenSeizureDetector/.package/config.xml
*.tmp
*.tmp
OpenSeizureDetector/.sign/author-signature.xml
OpenSeizureDetector/.sign/signature1.xml
OpenSeizureDetector_Tizen/.sign/author-signature.xml
OpenSeizureDetector_Tizen/.sign/signature1.xml
OpenSeizureDetector_Tizen/Debug/.ninja_deps
OpenSeizureDetector_Tizen/Debug/.ninja_log
OpenSeizureDetector_Tizen/Debug/openseizuredetector_tizen
